.header {
    background-color: rgb(111, 111, 255);
    font: 1em sans-serif;
    font-size: 80px;
    text-align: center;
}

.body {
    background-color: rgb(255, 255, 255);
    font: italic;
    font-size: 40px;
    text-align: center;
}
.menu-content {
    text-align: center;
    display: flex;
    justify-content: center;
}

.game-content {
    text-align: center;
    display: flex;
    justify-content: center;
}

.hidden {
    visibility: hidden;
}
.text {
    font-size: 70px;
    align-items: center;
}